<nav class="navbar">
	<div class="navbar__container">
		<div class="logo__container">
			<img class="logo" src="{{ asset('build/images/logo.jpg') }}" alt="Website logo">
		</div>
		<ul class="lang__switcher">
			{% for locale in ['en', 'et'] %}
				<li class="lang__switcher--flag{% if app.request.locale is same as locale %} active__flag{% endif %}">
					<a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale' : locale})) }}">
						<img class="responsive__image" src="{{ asset('build/images/flags/%locale%.png'|replace({'%locale%' : locale})) }}"
						     alt="{{ locale }} flag for language switcher">
					</a>
				</li>
			{% endfor %}
		</ul>
		<ul class="navbar__links">
			{% if app.user %}
				<li class="navbar__links--item">
					{# <a class="navbar__links--link button square__button" href="{{ path('auth_profile') }}">{% trans %}Profile{% endtrans %}</a> #}
				</li>
				<li class="navbar__links--item">
					<a class="navbar__links--link button square__button" href="{{ path('auth_logout') }}">{% trans %}Logout{% endtrans %}</a>
				</li>
			{% else %}
				<li class="navbar__links--item">
					<a class="navbar__links--link button square__button" href="{{ path('auth_register') }}">{% trans %}Register{% endtrans %}</a>
				</li>
				<li class="navbar__links--item">
					<a class="navbar__links--link button square__button" href="{{ path('auth_login') }}">{% trans %}Login{% endtrans %}</a>
				</li>
			{% endif %}
		</ul>
	</div>
</nav>