{% extends 'base/app.html.twig' %}

{% block title %}{% trans %}Login{% endtrans %}{% endblock %}

{% block body %}
	<div class="container">
		<form class="form__glass" method="post" action="{{ path('auth_login', { '_locale' : app.user.locale ?? app.request.locale }) }}">
			<img class="form__glass--header-img" src="{{ asset('build/images/headers/glass-form-header.jpg') }}" alt="Glass form header image">
			<h1 class="form__glass--heading">{% trans %}Please{% endtrans %} {% trans %}Login{% endtrans %}</h1>
			{% if error %}
				<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}
			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<div class="form__row">
				<label class="form__label" for="inputEmail">{% trans %}forms.fields.email{% endtrans %}</label>
				<input class="form__input--text" type="email" value="{{ last_username }}" name="email" id="inputEmail" required placeholder="E-mail">
			</div>
			<div class="form__row">
				<label class="form__label" for="inputPassword">{% trans %}forms.fields.password{% endtrans %}</label>
				<input class="form__input--text" type="password" name="password" id="inputPassword" required placeholder="Password">
			</div>
			<div class="form__row">
				<div class="form__input--check--with--label">
					<input id="rememberMe" class="form__input--check" type="checkbox" name="_remember_me">
					<label for="rememberMe" class="form__input--check--mark"></label>
					<span class="form__input--check--mark--text">{% trans %}forms.fields.checkbox.remember.me{% endtrans %}</span>
				</div>
			</div>
			<div class="form__row">
				<button class="button morphism__button" type="submit">{% trans %}Sign In{% endtrans %}</button>
			</div>
		</form>
	</div>
{% endblock %}
